.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 400px;
  width: 100%;
  background: #f2f8fc;
  border-radius: 4px;
  padding: 30px 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border: 2px solid #284a5d;
}

.form .form-img {
  width: 250px;
  height: 200px;
  margin: 0 auto;
}

.text-center {
  text-align: center;
}
